.git
.gitattributes
.gitignore
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/app/public/.gitignore
public/build
public/hot
public/storage
.env
.env.*
!.env.example
docker-compose*.yml
tests
.phpunit.result.cache
